.thumbnail {
  img {
    height: 200px;
    width: 200px;
  }
}

.jumbo {
  margin-bottom: .3em;
  font-size: 10rem;
}

@media (max-width: 600px) {
  .jumbo {
    font-size: 6rem;
  }
}

.holdings {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 500px;
}

